body {
  /*background-color: #FFDEAD;*/
  background-image: url('/images/site-background.jpg');
  background-repeat: repeat-x;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*Navigation*/
.navbar-inverse {
  background-color: #CA5122;
  border-color: #38220E;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}

/* Page Header Style */
.page-header img {
  width: 100%;
}

/* Biographies Styles */
.biographies img {
  float: left;
  padding-right: 15px;
}

